/* Base styles for the container */
.grid-1-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Styles for the Card component */
.card {
  flex: 1;
  /* Adjust the width as needed for larger screens */
  max-width: 100%;
  min-width: 50%;
}

/* Styles for the SearchMethod component */
.search-method {
  /* Adjust the width as needed for larger screens */
  width: 35em;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  /* Change the layout to a single column */
  .grid-1-2 {
    flex-direction: column;
  }

  /* Reset the max-width for both components */
  .card,
  .search-method {
    max-width: 100%;
  }
}
