/* Card */
.card {
  max-width: 900px;
  margin: auto;
}

/* Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  border-radius: 10px 10px 0 0;
}

/* Radio Tabs */
.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  background-color: var(--background);
  position: relative;
  width: 7em;
  padding: 0.7em;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: background 0.3s, color 0.3s;
  border: none;
  border-radius: 0;
  text-align: center;
  margin: 0;
  left: 1em;
}

.label:hover {
  background: var(--soft-gray);
}

.label:active {
  background-color: var(--background);
}

.radiotab:checked + .label {
  background: var(--text-alt);
  color: var(--text);
  border-top: 1px solid var(--soft-gray);
  border-left: 1px solid var(--soft-gray);
  border-right: 1px solid var(--soft-gray);
  border-bottom: none;
  z-index: 2;
}

.panel {
  order: 99;
  display: none;
  padding: 1em;
  width: 100%;
  border-left: 1px solid var(--soft-gray);
  border-bottom: 1px solid var(--soft-gray);
  border-right: 1px solid var(--soft-gray);
  border-radius: 0.5em;
  margin-top: 0;
  box-shadow: 0px 3px 3px var(--soft-gray);
  background-color: var(--text-alt);
  transition: box-shadow 0.3s;
  max-height: 295px;
  min-height: 265px;
}

.panel:hover {
  box-shadow: 1px 1px 8px var(--third-color);
}

.radiotab:checked + .label + .panel {
  display: block;
}

.section-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.img-card {
  min-width: 150px;
  min-height: 210px;
  height: auto;
  margin-right: 15px;
  padding: 4px;
  background-color: var(--text-alt);
  border: 1px solid var(--soft-gray);
  border-radius: 4px;
}

.section-details {
  flex-grow: 1;
}

.section-details + p {
  font-size: 1em;
}

.section-details h2 {
  color: var(--text);
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--third-color);
  padding: 4px;
  margin-right: 5px;
  margin-top: 3px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
}

.year,
.ep {
  background-color: var(--soft-green) !important;
  display: inline;
}

.tab-section p {
  text-align: justify;
}

.production-desc {
  display: none;
}

h2 {
  font-size: large;
}

hr {
  display: none;
}

.tags {
  display: none;
}

/* Small screen styles */
@media (min-width: 320px) {
  .section-content {
    flex-wrap: nowrap;
  }

  .tags {
    display: flex;
    font-size: xx-small;
  }
}

/* Large screen styles */
@media (min-width: 650px) {
  .panel {
    border-top: 1px solid var(--soft-gray);
  }

  .label {
    background-color: var(--background);
    border-radius: 10px 10px 0 0;
    z-index: 1;
  }

  .tab-desc {
    display: none;
  }

  .production-desc {
    display: block;
  }

  h2 {
    font-size: x-large;
  }
}
