/* Jumbotron.css */
.jumbotron {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 22vh;
  color: var(--white);
  background-color: var(--main-color);
}

.jumbotron-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--white);
}

.jumbotron-description {
  font-size: 1.2rem;
  color: var(--white);
}
