.app {
  height: 100vh;
}

.card-area {
  overflow-y: scroll;
  height: 90%;
}

.lang-container {
  margin-bottom: 0.3em;
  display: flex;
  gap: 0.5em;
}

.lang {
  font-size: 0.8em;
  background-color: var(--main-color);
  color: var(--white);
  padding: 6px;
  cursor: pointer;
  border-radius: 0px 8px 8px 8px;
}

.lang-numbers {
  background-color: var(--soft-green);
}
