:root {
  --main-color: #0a4656;
  --second-color: #d4f1f7;
  --second-blue: #0e6179;
  --white: #fff;
  --black: #000;
  --soft-gray: #ccc;
  --dark-gray: #333;
  --light-gray: #eee8e8;
}

* {
  box-sizing: border-box;
}

/* Apply a CSS reset to remove default margins and paddings */
body,
h1,
h2,
h3,
p,
table,
td,
th {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.insetshadow {
  letter-spacing: 0.05em;
  text-shadow: -1px -1px 1px var(--second-color), 2px 2px 1px var(--black);
}

/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f1f0f7;
}

/* Primary color styles */
a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
}
