* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
table,
td,
th {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  background-color: var(--background);
  color: var(--fourth-color);
  font-size: 15px;
  line-height: 1.32857143;
}

.insetshadow {
  letter-spacing: 0.05em;
  text-shadow: -1px -1px 1px var(--second-color), 2px 2px 1px var(--black);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
}
