* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
table,
td,
th {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  background-color: var(--bg-surface);
  color: var(--text-heading);
  font-size: 15px;
  line-height: 1.32857143;
}

.insetshadow {
  letter-spacing: 0.05em;
  text-shadow: var(--text-body-shadow-inset);
}

a {
  color: var(--brand-primary);
  text-decoration: none;
}

a:hover {
  color: var(--brand-secondary);
}
